@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Marathi:ital@1&display=swap');

body{
    margin: 0;
    padding: 0;
    background: red;
    font-family: 'Tiro Devanagari Marathi', serif;
}

header{
    display: flex;
    justify-content: space-between;
}

/* inline vs block */
nav li{
    display: inline;
    list-style-type: none;
}

a{
    margin-left: 40px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.icon-github:before {
    content: "\e900";
    color: #7988F7;
    margin-right: 10px;
  }

#seccion1{
    background: #cdcdcd;
    font-family: 'Times New Roman', serif;
    font-size: 20px;
}